# MAC
.DS_Store
__MACOSX/

# PYTHON
__pycache__/
.eggs
*.py[cod]
*$py.class
# installation
phylosofs.egg-info/
# py.test
.pytest_cache/
.coverage
# pycharm
.idea/
# jupyter
.ipynb_checkpoints

# VIM
*~
*.swp
*.swo

# TO RUN TESTS
test/tmp/*
bestTopos/
betterTrees/
